########
# author: ryantaussig
# last updated: 2016-03-17
# license: GPLv2.0
#
# abstract: autostart syndaemon
########

[Desktop Entry]
Name=syndaemon
Type=Application
Exec=/usr/bin/syndaemon -i 0.5 -K -R -d
X-GNOME-Autostart-enabled=true
